body{
    font-family: 'Nunito', sans-serif;
}

.container{
    width:100%;
    padding-right:5px;
    padding-left:5px;
    margin-right:auto;
    margin-left:auto
}

.color-dark-blue{
    color:#273555 ;
}

.navbar-nav li{
    margin-right: 3px;
    margin-left: 3px;
}

/* Navbar btn signup */
.btn-signup{
    margin: 0 5px 0 5px;
    background-color: #e4f4f3;
    border-radius: 20px;
    color: #61c4be !important;
}


/* jumbotron */
.jumbotron-main{
    border-radius: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 60px;
    padding-right: 40px;
    height: 470px;
    background-color: #f9f3f0;
}

.jumbotron-main p{
    font-weight: bolder;
    font-size: 65px;
    line-height: 70px;
    color: #273555;
}

.jumbotron-main h4{
    color: #aeaeae;
    font-family: 'Poppins', sans-serif;
    font-size: 28px;
}

/* jumbotron video (right side) */
.container-video{
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../img/video_thumbnail.png);
    background-position: center;
    background-size: cover;
    height: 370px;
    width: 320px;
    cursor: pointer;
    border-radius: 25px;
}


.container-video:hover{
    transition: .5s;
    opacity: .7;
}

/* endof jumbotron */

/* Nav Form Search */
.nav-form-search{
    position: relative;
    width: 20vw !important;
    background-color: #f9f3f0 !important;
    border : none;
    font-family: 'Poppins', sans-serif;
    padding-right: 40px !important;
}

::-webkit-input-placeholder{
    color: #bfbfbf !important;
}

/* Search form */
.form-search{
    border-radius: 20px 0 20px 20px;
    border: none;
    height: 50px;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    width: 25vw !important;
}

/* Nav Button Search */
.icon-search{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    color: #bfbfbf;
}

/* Button Search */
.btn-search{
    border: none;
    width: 50px;
    background-color: #fd1267;
    color: white;
    border-radius: 0 20px 20px 0px;
    cursor: pointer;
    padding-top: 5px;
}

/* text-section */
.text-section{
    color: #273555;
    cursor: pointer;
}

/* add pseudo elements down arrow */
.text-section::after{
    display: inline-block;
    content: url('../img/keyboard_arrow_down-black-18dp.svg');
    transform: translateY(3px);
}

/* button more */
.btn-more{
    border: 1.5px solid #afeae6;
    color: #afeae6;
    background-color: white;
    cursor: pointer;
    border-radius: 20px;
    transform: translateY(-5px);
    transition: .50s;
}

/* button more on mouse hover */
.btn-more:hover{
    color: white;
    background-color: #afeae6;
}

/* button more on clicked */
.btn-more:focus{
    outline: 0 !important;
}

/* popular course main title */
#popular-course-main-title{
    color: #273555;
    font-weight: bold;
}

/* popular course subtitle */
#popular-course-subtitle{
    color: #888888;
    font-size: larger;
    font-family: 'Poppins', sans-serif;
     
}

/* item popular course */
.item-popular-container{
    overflow: auto;
    display: flex;
}

/* height of scrollbar */
.item-popular-container::-webkit-scrollbar{
    height: 3px;
}

/* scrollbar style */
.item-popular-container::-webkit-scrollbar-track{
    height: 5px;
    background: #f3ebe4;
}

/* scrollbar thumb style */
.item-popular-container::-webkit-scrollbar-thumb{
    background: #fd1267;
    border-radius: 5px;
}

/* scrollbar thumb style when mouse hover */
.item-popular-container::-webkit-scrollbar-thumb:hover{
    background: #fd1267;
    transition: .9s;
}

/* popular item styling */
.item-popular{
    overflow: hidden;
    min-width: 270px;
    max-width: 270px;
    height: 325px;
    background-color: #dbd2d2   ;
    border-radius: 10px;
    margin : 20px 22px 20px 22px;
    -webkit-box-shadow: 0px 0px 24px -10px rgba(0,0,0,0.7);
    -moz-box-shadow: 0px 0px 24px -10px rgba(0,0,0,0.7);
    box-shadow: 0px 0px 24px -10px rgba(0,0,0,0.7);
}

/* item popular image */
.image-item-popular{
    height: 175px;
    background: url(../img/teacher.jpg);
    background-size: cover;
}

/* description item popular */
.description-item-popular{
    padding: 15px;
    background-color: #ffffff;
    height: 150px;
}

/* item popular course group */
.item-popular-course{
    font-size: 8.2pt;
    color: #85bdc5;
    font-family: poppins;
}

/* item popular title */
.item-popular-title{
    font-size: 12pt;
    color: #273555;
    transform: translateY(-15px);
    margin-bottom: 30px;
    font-weight: bold;
}

/* item popular author */
.item-popular-author{
    font-size: 8.2pt;
    color: #85bdc5;
    font-family: poppins;}

/* bottom section item popular */
.item-popular-bottom{
    display: flex;
    justify-content: space-between;
    transform: translateY(-15px);
}

.item-popular-bottom p{
    font-size: 10pt;
    margin-right: 30px;
}

.item-popular-bottom span{
    font-size: 12pt;
    margin-right: 5px;
    color: rgb(255, 187, 0);
    transform: translateY(3px);
}

/* section services */
#section-services{
    background-color: white;
}

/* title service */
#title-service{
    font-weight: bolder;
    color: #273555;
}

/* subtitle service styling */
#subtitle-service{
    font-size: 19pt;
    font-weight: 400;
    color: #273555;
    line-height: 30px;
    font-family: poppins;
}

/* Student Viewing */
.jumbotron-viewing{
    border-radius: 20px;
    padding-top: 30px;
    padding-bottom: 50px;
    padding-left: 60px;
    padding-right: 40px;
    height: 550px;
    background-color: #f9f3f0;
}

.jumbotron-viewing h2{
    color: #273555;
}


/* text section */
#text-section{
    font-size: 15pt;
    font-weight: 500;
    font-family: poppins;
}

/* item service container styling */
.container-item-service{
    display: flex;
    justify-content: center;
}

/* item services styling */
.item-services{
    margin-left: 10px;
    margin-right: 10px;
    min-width: 250px;
    max-width: 250px;
    min-height: 350px;
    max-height: 350px;
    background-color: #f4edea;
    border-radius: 15px;
    padding: 40px;
}

.item-services p{
    margin-top: 5px;
    font-family: poppins;
    font-size: 14px;
    color: #94634e;
    line-height: 18px;
}

/* bg cyan */
.bg-cyan{
    background-color: #e6f9f7;
}

/* section join container */
#join-container{
    padding-top: 60px;
    padding-bottom: 60px;
    height: 300px;
    display: grid;
    justify-items: center;
    background-color: #f9f3f0;
    border-radius: 20px;
}

#join-container h1{
    font-weight: bolder;
    color: #273555;
}

/* button create account */
#btn-create-account{
    width: 200px;
    max-height: 60px;
    padding: 10px 5px 10px 5px;
    border: none;
    border-radius: 20px;
    background-color: #d5f4f2;
    color: #238780;
    font-weight: bold;
    font-size: 24px;
    cursor: pointer;
}

/* button create account on clicked*/
#btn-create-account:focus{
    outline: none !important;
}

/* button create account on mouse hover*/
#btn-create-account:hover{
    background-color: #8ee1db;
    transition: .5s;
    color: white;
}

/* testimonial section */


#container-testimonial{
    overflow: auto;
    display: flex;
    padding-bottom: 15px;
}

/* height of scrollbar */
#container-testimonial::-webkit-scrollbar{
    height: 3px;
}

/* scrollbar style */
#container-testimonial::-webkit-scrollbar-track{
    height: 5px;
    background: #f3ebe4;
}

/* scrollbar thumb style */
#container-testimonial::-webkit-scrollbar-thumb{
    background: #fd1267;
    border-radius: 5px;
}

/* scrollbar thumb style when mouse hover */
#container-testimonial::-webkit-scrollbar-thumb:hover{
    background: #fd1267;
    transition: .9s;
}

/* item testimonial */
.item-testimonial{
    position: relative;
    padding: 20px;
    min-width: 500px;
    max-width: 500px;
    height: 250px;
    margin: 15px 30px 15px 30px;
    border-radius: 15px;
    background-color: whitesmoke;
    -webkit-box-shadow: -48px 16px 39px -40px rgba(0,0,0,0.21);
    -moz-box-shadow: -48px 16px 39px -40px rgba(0,0,0,0.21);
    box-shadow: -48px 16px 39px -40px rgba(0,0,0,0.21);
}

.item-testimonial::after{
    position: absolute;
    right: 20px;
    top: 30px;
    content: url(../img/quote.png);
}


.nama-testimoni{
    font-size: 14pt;
    margin-top: 5px;
    color: #33c1b7;
}

.jabatan-testimoni{
    font-size: 14pt;
    transform: translateY(-15px);
    font-family: Poppins;
    font-weight: 500;
}

/* image user testimonial */
.img-user{
    width: 70px;
    background-color: ivory;
}

/* testimonial content */
.item-testimonial-content{
    font-size: 14pt;
    font-family: Poppins;
    transform: translateY(-5px);
}

/* section waqf */
#section-waqf{
    min-height: 300px;
    background: url('../img/teacher.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
    padding-top: 50px;
    padding-right: 30px;
}

#section-waqf h1{
    font-weight: bolder;
    color: white;
}

#section-waqf button{
    outline: none;
    color: white;
    border-radius: 20px;
    border: none;
    font-size: 18pt;
    padding: 5px 15px 5px 15px;
    background-color: #fd1267;
    margin-top: 10px;
    cursor: pointer;
}


/* footer */
footer{
    padding: 10px 20px 10px 20px;
}

footer span{
    margin-right: 10px;
    transform: translateY(5px);
}

/* Button subscribe */
#btn-subscribe{
    width: 100px;
    padding: 5px 5px 5px 5px;
    border: none;
    border-radius: 20px;
    background-color: #d5f4f2;
    color: #238780;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
}

/* button create account on clicked*/
#btn-subscribe:focus{
    outline: none !important;
}

/* button create account on mouse hover*/
#btn-subscribe:hover{
    background-color: #8ee1db;
    transition: .5s;
    color: white;
}

/* list footer style */
.list-unstyled li a{
    color: grey;
}

.list-unstyled li{
   margin-top: 5px;
}

.bg1{
    background: url(../img/bg1.jpg);
    background-size: cover;
}

.bg2{
    background: url(../img/bg2.jpg);
    background-size: cover;
}

.bg3{
    background: url(../img/bg3.jpg);
    background-size: cover;
}

.bg4{
    background: url(../img/bg4.jpg);
    background-size: cover;
}

.footer{
    margin-top: 100px;
    margin-bottom: 40px;
}

.testimonial-section{
    margin-top: 70px ;
    margin-bottom: 100px;
}

/* for responsive web purpose */
@media only screen and (max-width: 450px) {
    .container-video{
        visibility: hidden;
    }
  }